@charset "UTF-8";

body {
    background-color: black;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}